.u-section-1 .u-sheet-1 {
  min-height: 719px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 10px 779px 0 0;
}

.u-section-1 .u-gallery-1 {
  height: 591px;
  width: 664px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-1 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-1 .u-carousel-thumbnails-1 {
  padding: 0 10px 0 0;
}

.u-section-1 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 110px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 0;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-text-2 {
  margin: -421px 61px 0 725px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -338px 61px 0 725px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 32px 168px 0 725px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 256px 219px 0 auto;
  padding: 10px 54px 10px 53px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 32px 219px 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 31px;
  height: 31px;
  margin: 14px 372px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -30px 233px 0 728px;
}

.u-section-1 .u-icon-2 {
  margin-top: 0;
  color: rgb(17, 17, 17) !important;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 50px;
  height: 46px;
  margin: -164px 108px 0 auto;
}

.u-section-1 .u-icon-3 {
  width: 30px;
  height: 30px;
  margin: -38px 168px 0 auto;
}

.u-section-1 .u-icon-4 {
  width: 30px;
  height: 30px;
  color: rgb(71, 138, 201) !important;
  margin: -30px 68px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -25px 91px 60px 1004px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 579px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 586px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 586px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 107px;
    margin-left: 586px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 19px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 19px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 307px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 133px;
    margin-left: 628px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 11px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 895px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 359px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 366px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 366px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 366px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 235px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 23px;
    margin-left: 518px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 675px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 179px;
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 186px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 186px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 186px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 176px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 361px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 495px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: -61px;
    margin-right: 0;
  }

  .u-section-1 .u-gallery-1 {
    width: 340px;
    margin-top: 221px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 93px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 111px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 161px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 106px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 295px;
  }
}